:root {
    --black: #000000;
    --white: #fff;
    --green: #025f33;
    --pink: #e70a74;
    --body-gray: #fafafa;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,200&display=swap");

@font-face {
    font-family: "nicons";
    src: url("font/nicons.eot?98620219");
    src: url("font/nicons.eot?98620219#iefix") format("embedded-opentype"),
        url("font/nicons.woff2?98620219") format("woff2"),
        url("font/nicons.woff?98620219") format("woff"),
        url("font/nicons.ttf?98620219") format("truetype"),
        url("font/nicons.svg?98620219#nicons") format("svg");
    font-weight: normal;
    font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'nicons';
    src: url('../font/nicons.svg?98620219#nicons') format('svg');
  }
}
*/
[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "nicons";
    font-style: normal;
    font-weight: normal;
    speak: never;

    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: 0.2em;
    text-align: center;
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: 0.2em;

    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */

    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-iconmonstr-email-1-2-1:before {
    content: "\e800";
}

/* '' */
.icon-share_icon:before {
    content: "\e801";
}

/* '' */
.icon-iconmonstr-smartphone-1-1:before {
    content: "\e802";
}

/* '' */
.icon-next_icon:before {
    content: "\e803";
}

/* '' */
.icon-search_icon:before {
    content: "\e804";
}

/* '' */
.icon-right-big:before {
    content: "\e805";
}

/* '' */
.icon-twitter_icon:before {
    content: "\e806";
}

/* '' */
.icon-whatsapp_icon:before {
    content: "\e807";
}

/* '' */
.icon-youtube_icon:before {
    content: "\e808";
}

/* '' */
.icon-back_icon:before {
    content: "\e809";
}

/* '' */
.icon-chatbot_icon:before {
    content: "\e80a";
}

/* '' */
.icon-clock_icon:before {
    content: "\e80b";
}

/* '' */
.icon-close_icon:before {
    content: "\e80c";
}

/* '' */
.icon-facebook_icon:before {
    content: "\e80d";
}

/* '' */
.icon-faqs_icon:before {
    content: "\e80e";
}

/* '' */
.icon-heart_icon:before {
    content: "\e80f";
}

/* '' */
.icon-instagram_icon:before {
    content: "\e810";
}

/* '' */
.icon-linkedin_icon:before {
    content: "\e811";
}

/* '' */
.icon-location_icon:before {
    content: "\e812";
}

/* '' */

/*------------------------------------------------------------*/
html,
body,
a,
p,
ul,
li {
    /* font-family: "aquawaxlight"; */
    /* font-family: "Raleway", sans-serif; */
    font-family: "Poppins", sans-serif;
}

body {
    background: var(--body-gray);
}

body.home.page-template-default.page.page-id-15.mega-menu-primary {
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins", sans-serif;
}

h2 {
    color: var(--green);
    font-weight: 400;
    font-size: 2.8em;
    margin-bottom: 30px;
}

h3 {
    position: relative;
    font-size: 1.75rem;
    font-weight: 600;
}

h4 {
    font-size: 2em;
    font-weight: 600;
}

h5 {
    font-size: 1.5em;
    font-weight: 600;
}

p {
    font-size: 1.1em;
}

a:hover {
    text-decoration: none !important;
}

.container {
    max-width: 90%;
}

/*--------------------------*/

.the-body-content {
    overflow: hidden;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.the-body-content li {
    position: relative;
    list-style-position: inside;
    list-style: none;
    margin-left: 20px;
}

.the-body-content li::before {
    content: "";
    background: var(--the-orange);
    height: 9px;
    width: 9px;
    display: inline-block;
    color: var(--the-orange);
    position: absolute;
    bottom: 6px;
    left: -15px;
    top: 8px;
}

a {
    color: var(--the-orange);
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: var(--the-blue);
}

a img {
    transition: 500ms;
}

a img:hover {
    opacity: 0.8;
    transform: translateY(5px);
}

.nango-content {
    padding: 40px 0;
}

/*---------Banner----------*/

.fuid-container.banner {
    position: relative;
}

.mk-bgimg {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
    background-color: var(--the-lightblue);
    filter: brightness(55%);
}

.actual-bread {
    position: relative;
    z-index: 8;
    top: -14em !important;
    background: transparent;
    margin-bottom: -5em;
}

.ms-caption h1 {
    color: var(--white);
    font-size: 3em;
}

.breadcrumb {
    color: var(--pink);
}

.breadcrumb a {
    color: var(--white);
}

.ms-caption {
    position: absolute;
    top: 35%;
}

.breadcrumb {
    background-color: transparent;
}

.breadcrumb {
    position: relative;
    top: 3em;
    margin-bottom: 1.5em;
    left: -15px;
    font-size: 1.5em;
}

/* **************************
      SLIDER
**************************** */

#homeSlider {
    position: relative;
}

.item.slider-img {
    height: 76vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.caption-holder {
    padding-top: 100px;
    width: 75%;
    margin-bottom: 8%;
}

.caption-holder h1 {
    color: var(--white);
    font-size: 2.8em;
    margin-bottom: 40px;
}

@media (max-width: 1035px) {
    .caption-holder {
        margin-bottom: 0;
    }
}

@media (max-width: 786px) {
    .caption-holder {
        width: 100%;
    }

    .caption-holder h1 {
        color: var(--white);
        font-size: 2em;
        margin-bottom: 40px;
    }
}

.learn-more-btn a {
    color: var(--black);
    background: var(--white);
    padding: 20px 60px;
    border-radius: 5px;
    font-size: 1.2em;
    transition: 500ms;
}

.learn-more-btn a:hover {
    background: var(--green);
    color: var(--white);
}

#homeSlider .owl-nav.disabled {
    display: none;
}

#homeSlider::after,
.mk-bgimg::after {
    content: "";
    height: 6px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ed8034+0,ed8034+33,feb123+33,feb123+66,2184cd+66,2184cd+100 */

    background: -moz-linear-gradient(left,
            rgba(95, 187, 60, 1) 0%,
            rgba(95, 187, 60, 1) 10%,
            rgba(3, 84, 138, 1) 10%,
            rgba(3, 84, 138, 1) 20%,
            rgba(26, 60, 105, 1) 20%,
            rgba(26, 60, 105, 1) 30%,
            rgba(231, 10, 116, 1) 30%,
            rgba(231, 10, 116, 1) 40%,
            rgba(214, 158, 42, 1) 40%,
            rgba(214, 158, 42, 1) 50%,
            rgba(38, 159, 80, 1) 50%,
            rgba(38, 159, 80, 1) 60%,
            rgba(199, 27, 46, 1) 60%,
            rgba(199, 27, 46, 1) 70%,
            rgba(246, 60, 37, 1) 70%,
            rgba(246, 60, 37, 1) 80%,
            rgba(5, 169, 220, 1) 80%,
            rgba(5, 169, 220, 1) 90%,
            rgba(250, 186, 21, 1) 90%,
            rgba(250, 186, 21, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left,
            rgba(95, 187, 60, 1) 0%,
            rgba(95, 187, 60, 1) 10%,
            rgba(3, 84, 138, 1) 10%,
            rgba(3, 84, 138, 1) 20%,
            rgba(26, 60, 105, 1) 20%,
            rgba(26, 60, 105, 1) 30%,
            rgba(231, 10, 116, 1) 30%,
            rgba(231, 10, 116, 1) 40%,
            rgba(214, 158, 42, 1) 40%,
            rgba(214, 158, 42, 1) 50%,
            rgba(38, 159, 80, 1) 50%,
            rgba(38, 159, 80, 1) 60%,
            rgba(199, 27, 46, 1) 60%,
            rgba(199, 27, 46, 1) 70%,
            rgba(246, 60, 37, 1) 70%,
            rgba(246, 60, 37, 1) 80%,
            rgba(5, 169, 220, 1) 80%,
            rgba(5, 169, 220, 1) 90%,
            rgba(250, 186, 21, 1) 90%,
            rgba(250, 186, 21, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,
            rgba(95, 187, 60, 1) 0%,
            rgba(95, 187, 60, 1) 10%,
            rgba(3, 84, 138, 1) 10%,
            rgba(3, 84, 138, 1) 20%,
            rgba(26, 60, 105, 1) 20%,
            rgba(26, 60, 105, 1) 30%,
            rgba(231, 10, 116, 1) 30%,
            rgba(231, 10, 116, 1) 40%,
            rgba(214, 158, 42, 1) 40%,
            rgba(214, 158, 42, 1) 50%,
            rgba(38, 159, 80, 1) 50%,
            rgba(38, 159, 80, 1) 60%,
            rgba(199, 27, 46, 1) 60%,
            rgba(199, 27, 46, 1) 70%,
            rgba(246, 60, 37, 1) 70%,
            rgba(246, 60, 37, 1) 80%,
            rgba(5, 169, 220, 1) 80%,
            rgba(5, 169, 220, 1) 90%,
            rgba(250, 186, 21, 1) 90%,
            rgba(250, 186, 21, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed8034', endColorstr='#2184cd', GradientType=1);
    /* IE6-9 */
}

/* Sign Up */

.b-member {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    gap: 15px;
    flex-wrap: wrap;
}

.chatbot i {
    color: var(--black);
    background: var(--white);
    padding: 20px 16px;
    font-size: 30px;
    border-radius: 50px;
    box-shadow: 0px 0px 14px 0px rgba(255, 255, 255, 0.75);
    -webkit-box-shadow: 0px 0px 14px 0px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 0px 0px 14px 0px rgba(255, 255, 255, 0.75);
}

.form-flex {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

.newsletter .wpcf7-form-control.wpcf7-text.wpcf7-email.wpcf7-validates-as-required.wpcf7-validates-as-email {
    padding: 15px;
    background: top;
    border: 2px solid var(--white);
    border-radius: 5px;
    color: var(--white);
}

.newsletter .wpcf7-form-control.wpcf7-text.wpcf7-email.wpcf7-validates-as-required.wpcf7-validates-as-email::placeholder {
    color: #fff;
    opacity: 0.8;
}

.newsletter .wpcf7-form-control.has-spinner.wpcf7-submit {
    background: var(--white);
    border: none;
    padding: 0px 40px;
    font-size: 20px;
    border-radius: 5px;
}

.newsletter .wpcf7-spinner {
    display: none;
}

.newsletter .wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form.unaccepted .wpcf7-response-output,
.wpcf7 form.payment-required .wpcf7-response-output {
    border-color: var(--white);
    color: var(--white);
}

.newsletter h5 {
    color: var(--white);
}

@media (max-width: 596px) {
    .newsletter {
        display: none;
    }
}

/* Slider Social Media Links */

.slider-wrapper {
    position: relative;
}

.social-media {
    position: absolute;
    top: 20%;
    z-index: 9;
    right: 6%;
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.social-media a {
    color: var(--white);
    font-size: 20px;
}

/* ********************************
              NEWS
******************************** */

.latest-news {
    background: var(--white);
    padding: 50px 0 80px;
}

.news-holder {
    box-shadow: 0px 0px 3px 0px rgba(221, 221, 221, 1);
    -webkit-box-shadow: 0px 0px 3px 0px rgba(208, 208, 208, 0.7);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.7);
    border-radius: 7px 7px 0 0;
    transition: 700ms ease-in-out;
}

.news-image img {
    height: 200px;
    border-radius: 7px 7px 0 0;
}

.news-title {
    padding: 10px;
}

.news-title a {
    font-size: 1.5em;
    font-weight: 600;
}

.news-button a i {
    transition: 700ms;
}

.news-holder:hover {
    background: var(--black);
    color: var(--white);
}

.news-holder:hover i {
    color: var(--white);
}

.news-title {
    padding: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    line-clamp: 5;
    -webkit-box-orient: vertical;
    height: 170px;
}

.news-button {
    padding: 10px;
}

.news-button a {
    color: var(--green);
    font-size: 1.5em;
}

.latest-btn {
    text-align: center;
    margin: 40px 0;
}

/* *********************************
        BUTTONS
********************************** */

.btn a {
    display: inline-block;
    background: var(--green);
    color: var(--white);
    padding: 15px 60px;
    border-radius: 5px;
    font-size: 1.3em;
    position: relative;
    transition: 500ms ease-in-out;
    border: 1px solid var(--green);
}

.btn a:hover {
    border: 1px solid var(--green);
    background: var(--white);
    color: var(--green);
}

/* ****************************
    What we Do
****************************** */

.we-do {
    padding: 60px 0;
}

.we-do h2 {
    text-align: center;
}

.we-wrapper {
    box-shadow: #eceaea 0px 2px 8px;
    border-radius: 5px;
    padding: 20px;
    margin: 20px 0;
    background: var(--white);
    position: relative;
    transition: 500ms;
}

.we-wrapper:hover {
    background: var(--black);
    color: var(--white);
}

.we-wrapper h5 {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    min-height: 60px;
}

.news-cat a {
    color: var(--green);
    font-size: 1.2em;
    font-style: italic;
}

.news-cat {
    padding: 25px 10px 0;
    transition: 700ms;
}

.news-holder:hover .news-cat a {
    color: var(--white);
}

/*****************************
        Contact Us
**************************** */
.b-right {
    border-right: 2px solid var(--grey);
    height: 400px;
}

.c-wrapper h2 {
    color: var(--green);
}

.c-wrapper h4 {
    font-size: 1.5em;
    font-weight: 500;
    color: var(--green);
    margin-bottom: 30px;
}

.c-wrapper p {
    font-size: 1.5em;
}

.c-social-media a {
    font-size: 1.5em;
}

.c-social-media a {
    font-size: 1.5em;
}

.white-bg {
    background: var(--white);
    padding: 80px 0;
}

/* Contact Form */
.c-form {
    padding: 80px;
    background: var(--grey);
}

@media (max-width: 768px) {
    .c-form {
        padding: 80px 0;
    }

    .b-right {
        border: none;
        height: auto;
    }
}

.c-form label {
    width: 100%;
    margin-bottom: 2em;
}

.c-form .wpcf7-form-control.wpcf7-text,
.c-form .wpcf7-form-control.wpcf7-textarea {
    width: 100%;
    background: var(--white);
    border: 1px solid var(--black);
    padding: 15px;
    margin-top: 0.8em;
}

.c-form .wpcf7-form-control.has-spinner.wpcf7-submit {
    background: var(--green);
    color: var(--white);
    border: navajowhite;
    width: 100%;
    padding: 15px;
    font-size: 1.2em;
}
