:root {
    --black: #000000;
    --white: #fff;
    --green: #025f33;
    --pink: #e70a74;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,200&display=swap");

/*-------*/

/*Thematic Sector*/

.thematicslider-container .owl-item:not(.active) + .owl-item.active .the-overlay {
    opacity: 0;
}

.thematicslider-container .owl-item:not(.active) + .owl-item.active .port-img img {
    filter: brightness(50%);
    z-index: -1 !important;
    position: relative;
}

.thematicslider-container .owl-item:not(.active) + .owl-item.active .thematic-title p {
    color: var(--white);
}

.thematicslider-container .owl-item:not(.active) + .owl-item.active .the-dot {
    background: var(--white);
}

.the-overlay {
    position: relative;
    transition: 900ms
}


.the-overlay::after {
    content: "";
    position: absolute;
    background: var(--white);
    width: 376px;
    height: 210px;
    left: 0px;
    top: 0px;
    opacity: 1;
    transition: 900ms ease-in-out;
    z-index: 1;
}

.thematic-holder .port-img img {
    filter: brightness(50%);

}

.thematic-holder:hover .port-img img {
    filter: brightness(50%);
    position: relative;
    z-index: -1;
}

.thematic-holder:hover .the-overlay::after {
    opacity: 0;
    transition: 900ms ease-in-out;
    color: var(--white);
}

.thematic-holder:hover p {
    color: var(--white);
    transition: 900ms ease-in-out
}

.thematic-holder:hover .the-dot {
    background: var(--white);
    transition: 900ms ease-in-out
}

.thematicslider-container {
    width: 100%;
    margin-left: 6%;
}


.thematic-title {
    position: absolute;
    top: 50%;
    left: 38px;
    z-index: 9;
}

.thematic-holder {
    margin: 10px;
    box-shadow: #eceaea 0px 2px 8px;
}

.thematic-holder img {
    height: 210px;
}

.thematics {
    background: var(--white);
    margin-bottom: -65px;
    padding-bottom: 5em;
}

.the-dot {
    background: var(--green);
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    top: 75px;
    left: 35px;
    z-index: 9;
}

.thematic-title p {
    font-size: 2.1em;
}

#thematicSectorSlider .owl-nav.disabled {
    display: flex;
    gap: 20px;
    margin: 4em 0px;
}

#thematicSectorSlider .owl-prev span,
#thematicSectorSlider .owl-next span {
    display: none;
}

#testimonialSlider .owl-prev span,
#testimonialSlider .owl-next span {
    display: none;
}

#thematicSectorSlider .owl-next::after,
#testimonialSlider .owl-next::after {
    content: "\e803";
    font-family: "nicons";
    background: var(--white);
    padding: 20px;
    color: var(--green);
    border: 1px solid var(--green);
    border-radius: 7px;
}

#testimonialSlider .owl-nav.disabled {
    display: flex;
    gap: 15px;
}

#thematicSectorSlider .owl-prev::before,
#testimonialSlider .owl-prev::before {
    content: "\e809";
    font-family: "nicons";
    background: var(--green);
    padding: 20px;
    color: var(--white);
    border: 1px solid var(--green);
    border-radius: 7px;
}

@media(min-width:600px) {
    .port-img-inside img {
        width: 400px;
        float: left;
        margin-right: 20px;
    }
}

/*Events*/
.evnts {
    background: var(--white);
}

.the-events-holder {
    position: relative;
}

.share-links-are a:hover {
    background: var(--black);
    color: var(--white);
}

.the-events-holder::after {
    content: "";
    position: absolute;
    border-bottom: 2px solid var(--grey);
    width: 100%;
    bottom: -17px;
}

.events-t-tle a {
    font-size: 1.2em;
    font-weight: 600;
}

.the-events-date p {
    color: var(--green);
}

.the-time::before {
    content: "\e80b";
    font-family: "nicons";
    font-size: 2.5em;
    position: relative;
    top: -19px;
}

.the-location::before {
    content: "\e812";
    font-family: "nicons";
    font-size: 2.5em;
    position: relative;
    top: -19px;
}

.the-location {
    position: relative;
    display: flex;
    gap: 8px;
}

.the-time {
    display: flex;
    gap: 6px;
    position: relative;
}

.e-holder {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    justify-content: space-between;
    margin-top: 4em;
    margin-bottom: 4em;
    position: relative;
}

.page-template-default .e-holder::after {
    content: "";
    position: absolute;
    bottom: -13px;
    width: ;
    border-bottom: 1px solid var(--black);
    width: 100%;
}

.page-template-default .e-holder:last-child::after {
    border: none;
}

.the-dte {
    display: flex;
    gap: 0.5em;
}

.the-dte span {
    font-weight: bold;
}

@media(min-width: 900px) {
    .second-events-flex {
        flex-basis: 65%;
    }

    .first-event-flex {
        flex-basis: 31%;
    }
}

/*-------*/


/*Share Links Area above footer*/
@media(min-width: 1000px) {
    .share-links-are a {
        width: 30%;
    }

}

.share-lnks {
    background: var(--white);
    padding-top: 3em;
}

.share-links-are {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 3em;
    justify-content: space-between;
    margin-bottom: 7em;
}

.share-links-are h5 {
    position: relative;
    font-weight: 600;
    margin-top: 2em;
}

.the-share h5::before {
    content: "\e801";
    font-family: "nicons";
    position: absolute;
    top: -50px;
    font-size: 1.5em;
}

.the-faqs-tag h5::before {
    content: "\e80e";
    font-family: "nicons";
    position: absolute;
    top: -50px;
    font-size: 1.5em;
}

.the-whats-app-tag h5::before {
    content: "\e807";
    font-family: "nicons";
    position: absolute;
    top: -50px;
    font-size: 1.5em;
}

.share-links-are a {
    box-shadow: #ddd 0px 2px 8px;
    padding: 35px;
    transition: 500ms;
}

/*-----------------------------*/
/*Testimonial*/
.test-holder {
    margin-bottom: 3em;
}

.test-holder {
    background: var(--green);
    padding: 20px;
    color: var(--white);
    border-radius: 8px;
}

.test-wrapper {
    margin: 5px;
}

.testimonial {
    margin-bottom: 0em;
    background: var(--white);
    padding-bottom: 3em;
}

.testimony-giver p {
    font-style: italic;
}

/**/

/*Footer Code*/
.the-em {
    height: 3em;
    padding: 25px;
    border: 1px solid var(--white);
    background: transparent;
    color: var(--white);
    border-radius: 5px;
    width: 300px;
}

.the-submit {
    background: var(--white);
    border: none;
    height: 3em;
    width: 190px;
    border-radius: 5px;
}

.news-letter-flex h5 {
    display: block;
    width: 100%;
    color: var(--white);
    font-weight: 600;
}

.news-letter-flex {
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
}

.scial h5 {
    color: var(--white);
    font-weight: 600;
    margin-bottom: 15px;
}

.scial a {
    color: var(--white);
    font-size: 1.4em;
}

.the-middle-flex {
    display: flex;
    gap: 5em;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 4em 0px;
}

.fluid-container.for-footer {
    background: var(--black);
}

.the-footer-menu a {
    color: var(--white);
    line-height: 2;
}

.the-footer-menu h5 {
    color: var(--white);
    font-weight: 600;
}

.designed p {
    color: var(--white);
    margin-top: 3em;
    position: relative;
}

.done-by {
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}

.done-by::after {
    content: "";
    position: absolute;
    border-top: 1px solid var(--white);
    width: 100%;
    top: 27px;
}

.the-footer-menu {
    display: flex;
    gap: 4em;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media(min-width: 600px) {
    .container-fluid.for-header {
        background: var(--white);
        position: relative;
        z-index: 9;
    }

    .the-body-content {
        position: relative;
        margin-bottom: 100%;
        z-index: 2;
        background: var(--grey);
    }

    .fluid-container.for-footer {
        position: fixed;
        z-index: -1 !important;
        width: 100%;
        bottom: 95px;
        height: 72%;
    }

    .designed {
        position: fixed;
        bottom: 0px;
        width: 100%;
        background: var(--black);
        left: 0;
    }

}

/*-----------*/
